
@{
    ViewBag.Title = "OOP Concepts";
}

<h2>OOP Concepts</h2>

<p>
    <button onclick="location.href='@Url.Action("Abstraction", "Home")'">Abstraction</button>
    <button onclick="location.href='@Url.Action("Interface", "Home")'">Interface</button>
    <button onclick="location.href='@Url.Action("Polymorphism", "Home")'">Polymorphism</button>
    <button onclick="location.href='@Url.Action("Encapsulation", "Home")'">Encapsulation</button>
    <button onclick="location.href='@Url.Action("Inheritance", "Home")'">Inheritance</button>
</p>

